Flask>=3.0.3,<4.0
Pillow>=10.4.0,<11.0
numpy>=1.26,<2.2
https://github.com/tamnguyenvan/facial-age-gender-emotion-api-nextjs/releases/download/0.1.0/openvino-2024.4.0-16579-cp312-cp312-manylinux2014_x86_64.whl